body {background-color: black;
color: white;}

a {color: cyan;
padding: 10px 15px;}

ul {display: none;}

footer {
    background-color: #525050;
    padding: 1rem;}

.o-nas {background-color: rgb(6, 61, 243);}